.card {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  text-align: center;
}

img {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}
.greeting {
  text-align: center;
  font-size: 2rem;
  color: #2c3e50;
  background: linear-gradient(to right, #f0f0f0, #dbe9f4);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}

.greeting:hover {
  color: #1abc9c;
  background: #eafaf1;
}

.profile-img {
  display: block;
  margin: 20px auto;
  object-fit: cover;
  border-radius: 30%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.profile-img:hover {
  transform: scale(1.05);
}
